* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: $font-family-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray;
  color: $black;
}

::selection {
  background-color: $purple;
  color: $white;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  color: $gray-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
